<?xml version="1.0" encoding="UTF-8" standalone="no"?><Configuracion>
    <GestorTiempo>
        <Tiempo encriptado="false">10</Tiempo>
    </GestorTiempo>
    <ERP>
        <BaseDeDatos encriptado="false">SBO_FACTURACION</BaseDeDatos>
        <ERPNombreSociedad encriptado="false"/>
        <ERPPass encriptado="true">WjVPVWlyW3ppSUpC</ERPPass>
        <ERPRutaArchivos encriptado="false">D:\ERParchivos</ERPRutaArchivos>
        <ERPUser encriptado="false">manager</ERPUser>
        <Password encriptado="true">Vm9LR19MNnVnbEJC</Password>
        <ServidorBD encriptado="false">DESKTOP-VADAE01</ServidorBD>
        <ServidorLicencias encriptado="false">DESKTOP-VADAE01:30000</ServidorLicencias>
        <TipoConector encriptado="false">1</TipoConector>
        <TipoServidor encriptado="false">10</TipoServidor>
        <User encriptado="false">sa</User>
    </ERP>
    <Repositorio>
        <BaseDatos encriptado="false">vscpebd2</BaseDatos>
        <Password encriptado="true">aE1HfA==</Password>
        <Puerto encriptado="false">3306</Puerto>
        <ServidorBD encriptado="false">localhost</ServidorBD>
        <TipoServidor encriptado="false">11</TipoServidor>
        <User encriptado="false">ppp</User>
    </Repositorio>
    <UsoSunat>
        <PDF encriptado="false">true</PDF>
        <Validacion encriptado="false">true</Validacion>
        <WS encriptado="false">true</WS>
    </UsoSunat>
    <Proxy>
        <Pass encriptado="true"/>
        <Puerto encriptado="false"/>
        <RequAuth encriptado="false">false</RequAuth>
        <Servidor encriptado="false"/>
        <UsarProxy encriptado="false">false</UsarProxy>
        <User encriptado="false"/>
    </Proxy>
    <Directorio>
        <Adjuntos encriptado="true">Vn91aFtxU0laSltoV3Bba1tyW3ppTVt+Xlt9WmhyS3poN0tvXjdxe2dyW38=</Adjuntos>
    </Directorio>
    <Tiempos>
        <RQInterval encriptado="false">20</RQInterval>
        <RQTimeOut encriptado="false">61</RQTimeOut>
        <RSInterval encriptado="false">20</RSInterval>
        <RSTimeOut encriptado="false">61</RSTimeOut>
    </Tiempos>
    <WebService>
        <WSClave encriptado="true">aXJbemlNW35eVkJC</WSClave>
        <WSIntervaloRepeticionPublic encriptado="false">20</WSIntervaloRepeticionPublic>
        <WSLocation encriptado="false">http://portal/</WSLocation>
        <WSTiempoEsperaPublic encriptado="false">61</WSTiempoEsperaPublic>
        <WSTiempoPublicacionPublic encriptado="false">0</WSTiempoPublicacionPublic>
        <WSUsuario encriptado="false">admin</WSUsuario>
    </WebService>
    <EmisorElectronico>
        <RS encriptado="false">205454844881/SUNAT</RS>
        <SenderLogo encriptado="false">C:\Users\ntorres\Desktop\DENUEVO\Recursos\COMPANY_LOGO.jpg</SenderLogo>
    </EmisorElectronico>
    <Impresion>
        <PDF encriptado="false">Codigo QR</PDF>
    </Impresion>
    <CertificadoDigital>
        <PasswordCertificado encriptado="true">UllOf1NGQkI=</PasswordCertificado>
        <ProveedorKeystore encriptado="false">SunJSSE</ProveedorKeystore>
        <RutaCertificado encriptado="false">D:\certificado\CERTIFICATE_TEST.pfx</RutaCertificado>
        <TipoKeystore encriptado="false">Pkcs12</TipoKeystore>
    </CertificadoDigital>
    <PFEConnector>
        <Tipo encriptado="false">2</Tipo>
    </PFEConnector>
    <ResumenDiario>
        <Fecha encriptado="false"/>
        <Hora encriptado="false">18:54</Hora>
    </ResumenDiario>
    <General>
        <PuertoVS_Configurador encriptado="false">7000</PuertoVS_Configurador>
        <PuertoVS_Extractor encriptado="false">7005</PuertoVS_Extractor>
        <PuertoVS_PublicWS encriptado="false">7004</PuertoVS_PublicWS>
        <PuertoVS_Request encriptado="false">7001</PuertoVS_Request>
        <PuertoVS_Response encriptado="false">7002</PuertoVS_Response>
        <PuertoVS_Resumen encriptado="false">7003</PuertoVS_Resumen>
    </General>
    <Sunat>
        <Ambiente encriptado="false">2</Ambiente>
        <ClienteSunat encriptado="false">test</ClienteSunat>
        <IntegracionWS encriptado="false">CONOSE</IntegracionWS>
        <MostrarSoap encriptado="false">true</MostrarSoap>
        <RutaOseProd encriptado="false">https://ose.tci.net.pe/ol-ti-itcpe-2/ws/billService?wsdl</RutaOseProd>
        <RutaOseTest encriptado="false">https://proy.ose.tci.net.pe/ol-ti-itcpe-2/ws/billService?wsdl</RutaOseTest>
        <RutaSunatProd encriptado="false">https://e-factura.sunat.gob.pe/ol-ti-itcpfegem/billService?wsdl</RutaSunatProd>
        <RutaSunatTest encriptado="false">https://e-beta.sunat.gob.pe/ol-ti-itcpfegem-beta/billService?wsdl</RutaSunatTest>
        <RutaConoseProd encriptado="false">https://prod.conose.pe/ol-ti-itcpe/billService.svc</RutaConoseProd>
        <RutaConoseTest encriptado="false">https://prod.conose.pe/ol-ti-itcpe/billService.svc</RutaConoseTest>
        <Usuario>
            <UsuarioSol encriptado="false">20510910517MODDATOS</UsuarioSol>
			<ClaveSol encriptado="false">moddatos</ClaveSol>
        </Usuario>
    </Sunat>
    <VersionUBL>
        <Boleta encriptado="false">21</Boleta>
        <Factura encriptado="false">21</Factura>
        <NotaCredito encriptado="false">21</NotaCredito>
        <NotaDebito encriptado="false">21</NotaDebito>
    </VersionUBL>
    <Pdf>
        <BoletaReportPath encriptado="false">C:\Users\ntorres\Desktop\DENUEVO\Recursos\PdfPlantilla\Template_Default\boletaDocument.jrxml</BoletaReportPath>
        <CreditNoteReportPath encriptado="false">C:\Users\ntorres\Desktop\DENUEVO\Recursos\PdfPlantilla\Template_Default\creditNoteDocument.jrxml</CreditNoteReportPath>
        <DebitNoteReportPath encriptado="false">C:\Users\ntorres\Desktop\DENUEVO\Recursos\PdfPlantilla\Template_Default\debitNoteDocument.jrxml</DebitNoteReportPath>
        <InvoiceReportPath encriptado="false">C:\Users\ntorres\Desktop\DENUEVO\Recursos\PdfPlantilla\Template_Default\invoiceDocument.jrxml</InvoiceReportPath>
        <LegendSubReportPath encriptado="false">C:\Users\ntorres\Desktop\DENUEVO\Recursos\PdfPlantilla\Template_Default\legendReport.jasper</LegendSubReportPath>
        <PerceptionReportPath encriptado="false">C:\Users\ntorres\Desktop\DENUEVO\Recursos\PdfPlantilla\Template_Default\perceptionDocument.jrxml</PerceptionReportPath>
        <RemissionGuideReportPath encriptado="false">C:\Users\ntorres\Desktop\DENUEVO\Recursos\PdfPlantilla\Template_Default\remissionguideDocument.jrxml</RemissionGuideReportPath>
        <RetentionReportPath encriptado="false">C:\Users\ntorres\Desktop\DENUEVO\Recursos\PdfPlantilla\Template_Default\retentionDocument.jrxml</RetentionReportPath>
        <PaymentSubReportPath encriptado="false">C:\Users\ntorres\JaspersoftWorkspace\MyReports\InvoiceDocumentPaymentDetail.jasper</PaymentSubReportPath>
    </Pdf>
</Configuracion>